<!doctype html>
<html>
<head>
  <title>Temperature</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="timing.js"></script>
  <style type="text/css">
    span.finished { cursor: pointer; color: blue; text-decoration: underline; }
    div.eci input { visibility: hidden; }
    div.eci:hover input { visibility: visible; }
  </style>
</head>
<body ng-app="timing" ng-controller="MainCtrl">
<div class="row">
<div class="col-md-8 col-md-offset-2">
<div class="page-header">
  <h1>Temperature</h1>
</div>
<div>
  <h3>Current Temperature</h3>
  <button type="button" class="btn btn-primary" ng-click="getAll()">Refresh</button>
  <div ng-repeat="timing in timings">
    {{timing.temperature}} &middot;
    {{timing.timestamp}} &middot;
    <!-- <span class="finished" ng-click="finished(timing.number)" ng-if="!timing.time_in">timing finished</span>
    <span ng-if="!!timing.time_in">&middot; {{timeDiff(timing)}}</span> -->
  </div>
</div>
<div>
  <h3>Recent Temperatures</h3>
</div>
<div>
  <h3>Threshold Violations</h3>
</div>
  <!-- <form ng-submit="addTiming()" style = "margin-top:30px;">
    <input type="text" ng-model="number" placeholder="number"></input>
    <input type="text" ng-model="name" placeholder="name"></input>
    <button type="submit">timing started</button>
  </form> -->
  <div class="eci">
    <input type="text" ng-model="eci" size="29"></input>
  </div>
</div>
</div>
</body>
</html>
